<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        
        
    
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TokiDriftApplication.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    
    

    <applicationSettings>
        <TokiDriftApplication.My.MySettings>
            <setting name="Str_NmaxTxt" serializeAs="String">
                <value>Puoi prendere solo un massimo di 1 una portata per questo piatto. We don't wanna spend too much, right?</value>
            </setting>
            <setting name="Str_NmaxTitle" serializeAs="String">
                <value>Numero massimo portate raggiunto</value>
            </setting>
        </TokiDriftApplication.My.MySettings>
    </applicationSettings>
</configuration>